<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Calculator</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/reset.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/index.css') }}"
    />
  </head>
  <body>
    <form>
      <button formmethod="POST" formaction="/create_binary_operator/multiplication">
        ×
      </button>
    </form>
    {% include 'create_matrix_form.html' %}
    <div id="calculation">
      {% for item in calculation -%} {{ item.as_form()|safe }} {%- endfor %}
    </div>
    <div id="result">
      {% for item in result -%} {{ item.as_static_markup()|safe }} {%- endfor %}
    </div>
  </body>
</html>
