{% extends "index.html" %}
{% block mat %}
<form method="POST" action="/matrix/{{ matrix.id }}">
  <div class="matrix">
    {% for row in range(matrix.rows) -%}
      <div class="matrix-row" style="grid-template-columns: repeat({{ matrix.columns }}, 40px)">
        {% for column in range(matrix.columns) -%}
          <div class="matrix-element">
            <input title="{{ row+1 }}, {{ column+1 }}" class="matrix-element-input" type="text" id="element_{{ row }}_{{ column }}" name="element_{{ row }}_{{ column }}" required>
          </div>
        {%- endfor %}
      </div>
    {%- endfor %}
  </div>
  <button type="submit">Submit</button>
</form>
{% endblock %}
