<div class="matrix-container">
  <form method="POST" action="/matrix/{{ matrix.ind }}">
    <div class="matrix">
      {% for row in range(matrix.rows) -%}
        <div class="matrix-row" style="grid-template-columns: repeat({{ matrix.columns }}, 40px)">
          {% for column in range(matrix.columns) -%}
            <div class="matrix-element">
              <input title="{{ row+1 }}, {{ column+1 }}" class="matrix-element-input" type="number" step="any" id="element_{{ row }}_{{ column }}" 
              name="element_{{ row }}_{{ column }}" value="{{matrix.get_value_as_string(row, column)}}"
              onchange="this.form.submit()">
            </div>
          {%- endfor %}
        </div>
      {%- endfor %}
    </div>
  </form>
</div>
