body {
  font-family: sans-serif;
}

#calculation {
  display: inline-flex;
  flex-direction: row;
}

.matrix-container {
  display: flex;
  align-items: center;
}
.matrix {
  width: fit-content;
  display: grid;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.matrix:first-child {
  border-top: 1px solid black;
}
.matrix:last-child {
  border-bottom: 1px solid black;
}

.matrix-row {
  display: grid;
  grid-column-gap: 0px;
}

.matrix-element {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 2px;
  box-sizing: border-box;
}

.matrix-element:focus-within {
  border: 1px solid blue;
}

.matrix-element-input {
  width: 35px;
  border: none;
  padding: 0;
  margin: 0;
}

.binary-operation-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.binary-operation-input {
  width: 10px;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.matrix-element-input:focus {
  border: none;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.matrix-element-input,
input::-webkit-inner-spin-button.matrix-element-input,
input::-webkit-outer-spin-button.binary-operation-input,
input::-webkit-inner-spin-button.binary-operation-input  {
  -webkit-appearance: textfield;
  margin: 0;
}

/* Firefox */
input[type=number].matrix-element-input,
input[type=number].binary-operation-input {
  -moz-appearance: textfield;
  appearance: textfield;
}
